/*This selects the header id and applies the following settings*/
/*#header {
	background-color:white;
	text-align:center;
	font-family:cursive;
}*/
/*This selects the footer id and applies the following settings*/
#footer {
	background-color:white;
	text-align:center;
}
body {
	background-color:grey;
}