/*This selects the header id and applies the following settings*/
#header {
	font-family:cursive;
}
/*This selects the footer id and applies the following settings*/
#footer {
	background-color:white;
	text-align:center;
}

body {
	background-color:grey;
}
