body {
	background-color:grey;
}
/*This selects the header id and applies the following settings*/
#header {
	text-align:center;
}
/*This selects the footer id and applies the following settings*/
#footer {
	text-align:center;
}
