body {
	background-color:grey;
}
/*This selects the header id and applies the following settings*/
#header {
	background-color:white;
	text-align:center;
	font-family:cursive;
}
/*This selects the footer id and applies the following settings*/
#footer {
	background-color:white;
	text-align:center;
}
@font-face {
			font-family: "Indie_Flower", cursive;
			font-style: normal;
			font-weight: 400;
			src: url("https://fonts.googleapis.com/css?family=Indie+Flower");
}
#restaurantName {
			font-family: "Indie_Flower", fantasy;
}
